.button {
	@apply inline-block text-white no-underline;
	background-color: #3869d4;
	border-top: 10px solid #3869d4;
	border-right: 18px solid #3869d4;
	border-bottom: 10px solid #3869d4;
	border-left: 18px solid #3869d4;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
}

.button--green {
	background-color: #22bc66;
	border-top: 10px solid #22bc66;
	border-right: 18px solid #22bc66;
	border-bottom: 10px solid #22bc66;
	border-left: 18px solid #22bc66;
}

.button--red {
	background-color: #ff6136;
	border-top: 10px solid #ff6136;
	border-right: 18px solid #ff6136;
	border-bottom: 10px solid #ff6136;
	border-left: 18px solid #ff6136;
}

@screen sm {
	.button {
		@apply w-full text-center !important;
	}
}
